.rr {
  height: 152px;
  background: white;
  border: 1px solid #dbdfea;
  cursor: pointer;
}
.folderIcon {
  fill: rgb(108, 135, 254);
}

.bb {
  background-color: white;
}

.bb h5 {
  margin: auto 0.5rem !important;
}
.btn-color {
  background-color: #e5e9f2;
  border-color: #e5e9f2;
}

/* .btn-color:hover {
  color: #fff;
  background: #c3c6ce;
  box-shadow: 195, 198, 206;
} */

.subfolder-box {
  height: 5rem !important;
  padding: 23px;
  justify-content: space-between;
}
.box {
  background-color: #fff;
}
.list-style {
  padding-left: none !important;
  list-style: none;
}
.ellipsis {
  text-align: center;
  white-space: nowrap;
  width: 155px;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: auto;
}

.select-all {
  /* border: 1px solid black; */
  justify-content: center;
  padding: 0 5px;
  cursor: pointer;
  user-select: none;
}

.select-all span {
  font-size: 14px;
  font-weight: 500;
  margin: 0;
  padding-bottom: 1px;
}
