body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.login {
  height: 100vh;
  background: center no-repeat;
  background-size: cover;
  padding: 3rem 5rem;
}

.login img {
  width: 16rem;
}

.login .row:nth-child(1),
.login .row:nth-child(2) {
  padding: 0 4rem;
}

.login-panel {
  background-color: #2d3c53;
  width: 34rem;
  height: 75%;
  padding: 1rem 1.5rem;
  border-radius: 1.2rem;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.login-panel .l {
  height: 56%;
}
.login .email input,
.login .password input {
  height: 2.3rem;
  border: 0;
  border-radius: 0.3rem;
  padding: 0 0.5rem;
}

.submit-login button {
  text-align: center;
  background-color: #317277;
  width: 100%;
  border: none;
  border-radius: 0.3rem;
  display: block;
  color: #fff;
  height: 2.3rem;
  margin-top: 1rem;
}

.dashboard {
  height: 100vh;
}
.dashboard .row {
  height: 100%;
}
.sidebar,
.header {
  background-color: #2d3c53;
}
.sidebar h1 {
  text-align: center;
  color: #fff;
  font-size: 2.5rem;
}
.sidebar hr {
  height: 0.1rem;
  position: relative;
  top: -1.3rem;
  background: gray;
}
.header {
  height: 3.6rem;
}
.dashpage {
  padding: 0 !important;
}

.logo {
  display: flex;
  align-items: baseline;
  justify-content: center;
  margin-top: 0.3rem;
}

.logo img {
  margin-left: 0.3rem;
}

nav ul {
  list-style: none;
  padding: 0;
}

.active {
  background-color: #e9eaed;
  color: #000;
}
.active > #navicons {
  color: #000;
}
.inactive {
  background-color: transparent;
  color: #fff;
}
nav ul li:hover {
  background-color: #e9eaed;
  border-radius: 0.3rem;
}
nav ul li a:hover > #navicons {
  color: #000;
}
nav ul li a:hover {
  color: #000;
}
nav ul li a {
  text-decoration: none;
  font-weight: 500;
  display: flex;
  align-items: center;
  margin-bottom: 0.7rem;
  height: 2.5rem;
  padding-left: 1rem;
  border-radius: 0.3rem;
  cursor: pointer;
}

#navicons {
  color: #fff;
  margin-right: 0.3rem;
  font-size: 1.4rem;
}

.profile .col-md-6:nth-child(2) {
  display: flex;
  justify-content: end;
  align-items: center;
}
.dropdown button {
  border: none;
  color: #fff !important;
  font-weight: 500;
  font-size: 0.9rem;
}
.dropdown-menu a {
  font-weight: 500;
}

.main .choose,
.create-folder,
.sub_folder,
.all_files {
  background: rgb(245, 246, 250);
  padding: 1.3rem;
  margin: 0.5rem;
  text-align: center;
  border-radius: 0.3rem;
}
.main .choose button,
.main .choose span {
  font-weight: 700;
  font-size: 1rem;
}

.main .choose img {
  margin: 0 2rem;
}
.not-found {
  height: 100vh;
}
.not-found img {
  width: 43rem;
}
.not-found h1 {
  font-size: 13rem;
  color: #4a5d74;
}
.not-found p {
  font-weight: 500;
  font-size: 1.3rem;
}
.not-found span {
  color: gray;
}
.not-found a {
  text-decoration: none;
}

.create-folder {
  height: 74vh;
}
.sub_folder {
  height: 50%;
}
.subfolder-box {
  cursor: pointer;
}
.folder {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #333;
  font-size: 1.1rem;
}
.add-folder {
  background: #fff;
  border-radius: 0.2rem;
  border: none;
  padding: 0.4rem;
}
.all-folders {
  width: 100%;
  height: 90%;
}
.all-folders .folder {
  /* width: 13rem; */
  background: white;
  border: 1px solid #dbdfea;
}
.all-folders ul li {
  list-style: none;
  cursor: pointer;
}
.all-folders p {
  word-break: break-all;
  cursor: pointer;
  font-size: 1rem !important;
  font-weight: 500;
}

.all_files {
  height: 50%;
  background-color: rgb(245, 246, 250);
}

.breadcrumb {
  font-weight: 500;
  margin-bottom: 0.5rem !important;
}

.breadcrumb div p,
.breadcrumb div svg {
  cursor: pointer;
}

.file_icon {
  fill: #599def;
}
