body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.login {
  height: 100vh;
  background: center no-repeat;
  background-size: cover;
  padding: 3rem 5rem;
}

.login .row img:first-child {
  width: 16rem;
}

.login .row img:nth-child(3) {
  height: 7rem;
  width: 8.5rem;
  object-fit: contain;
}

.user_log_table {
  height: 81vh;
}

.user_log_table table thead {
  position: sticky;
  top: 0;
  background-color: #fff;
}

.vl {
  width: 1px !important;
  margin: 0 20px 0 10px;
  border-right: 1px solid #fff;
}

.reportListName {
  width: 30%;
}

.login .row:nth-child(1),
.login .row:nth-child(2) {
  padding: 0 4rem;
}

.login-panel {
  background-color: #2d3c53;
  width: 34rem;
  height: 25rem;
  padding: 1rem 1.5rem;
  border-radius: 1.2rem;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.login-panel .l {
  height: 56%;
}
.login .email input,
.login .password input {
  height: 2.3rem;
  border: 0;
  border-radius: 0.3rem;
  padding: 0 0.5rem;
}

.dropdown-menu li {
  font-size: 14px;
}

/* .header .dropdown-menu button {
  color: #000 !important;
} */

.submit-login button {
  text-align: center;
  background-color: #317277;
  width: 100%;
  border: none;
  border-radius: 0.3rem;
  display: block;
  color: #fff;
  height: 2.3rem;
  margin-top: 1rem;
}

.dashboard {
  height: 100vh;
}
.dashboard .row {
  height: 100%;
}
.sidebar,
.header {
  background-color: #2d3c53;
}
.sidebar h1 {
  text-align: center;
  color: #fff;
  font-size: 2.5rem;
}
.sidebar hr {
  height: 0.1rem;
  position: relative;
  top: -1.3rem;
  background: gray;
}
.header {
  height: 3.6rem;
}
.dashpage {
  padding: 0 !important;
}

.logo {
  display: flex;
  align-items: baseline;
  justify-content: center;
  margin-top: 0.3rem;
}

.logo img {
  margin-left: 0.3rem;
}

nav ul {
  list-style: none;
  padding: 0;
}

.active {
  background-color: #e9eaed;
  color: #000;
}
.active > #navicons {
  color: #000;
}
.inactive {
  background-color: transparent;
  color: #fff;
}
nav ul li:hover {
  background-color: #e9eaed;
  border-radius: 0.3rem;
}
nav ul li a:hover > #navicons {
  color: #000;
}
nav ul li a:hover {
  color: #000;
}
nav ul li a {
  text-decoration: none;
  font-weight: 500;
  display: flex;
  align-items: center;
  margin-bottom: 0.7rem;
  height: 2.5rem;
  padding-left: 1rem;
  border-radius: 0.3rem;
  cursor: pointer;
}

#navicons {
  color: #fff;
  margin-right: 0.3rem;
  font-size: 1.4rem;
}

.profile .col-md-6:nth-child(2) {
  display: flex;
  justify-content: end;
  align-items: center;
}
.dropdown button {
  border: none;
  font-weight: 500;
  font-size: 0.9rem;
}
.dropdown-menu a {
  font-weight: 500;
}
.create-folder .row {
  width: 100%;
}
.parent_folder {
  overflow-y: scroll;
  height: 64vh;
}
.parent_folder .row {
  height: unset;
}
.main .choose,
.create-folder,
.sub_folder,
.all_files {
  background: rgb(245, 246, 250);
  padding: 1.3rem;
  margin: 0.5rem;
  text-align: center;
  border-radius: 0.3rem;
}
.main .choose button,
.main .choose span {
  font-weight: 700;
  font-size: 1rem;
}

.create-folder h6 ,
.all-folders h6,
.all_files h6 {
  border-top: 1px solid #e5e9f2;
  font-size: 13px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  padding: 1rem 0;
  margin: 0;
  text-align: left;
}

.center-div h6 {
  border: none;
}

.all_files h6 {
  border: none !important;
}

.all_files > div:first-child {
  border-top: 1px solid #e5e9f2;
}

.main .choose img {
  margin: 0 2rem;
}
.not-found {
  height: 100vh;
}
.not-found img {
  width: 43rem;
}
.not-found h1 {
  font-size: 13rem;
  color: #4a5d74;
}
.not-found p {
  font-weight: 500;
  font-size: 1.3rem;
}
.not-found span {
  color: gray;
}
.not-found a {
  text-decoration: none;
}

.create-folder {
  height: 74vh;
}
.sub_folder {
  height: 74vh;
}
.subfolder-box {
  cursor: pointer;
}
.folder {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #333;
  font-size: 1.1rem;
}
.add-folder {
  width: 10rem;
  background: #fff;
  border-radius: 0.2rem;
  border: none;
  padding: 0.4rem;
}
.form-select {
  width: 32% !important;
}
.all-folders {
  width: 100%;
  height: 90%;
}
.all-folders .folder {
  /* width: 13rem; */
  background: white;
  border: 1px solid #dbdfea;
}
.all-folders ul li {
  list-style: none;
  cursor: pointer;
}
.all-folders p {
  word-break: break-all;
  cursor: pointer;
  font-size: 1rem !important;
  font-weight: 500;
}

.all_files {
  position: relative;
  height: 74vh;
  background-color: rgb(245, 246, 250);
}
.allFiles {
  height: 57vh;
  overflow-y: scroll;
}

.all_files .row {
  height: auto;
}

.header-btn {
  bottom: 2%;
  position: absolute;
}

.breadcrumb {
  font-weight: 500;
  margin-bottom: 0.5rem !important;
}

.breadcrumb div p,
.breadcrumb div svg {
  cursor: pointer;
}

.file_icon {
  fill: #599def;
}

.report {
  padding: 13px;
}

.report ul {
  padding: 0;
  height: 80vh;
  /* overflow-y: scroll; */
}
.report ul li {
  list-style: none;
}
.report ul .item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #e0fbfc;
}

.data-not-found {
  top: 47%;
  left: 57%;
  transform: translate(-50%);
  position: absolute;
}

.data_table {
  overflow: scroll;
  height: 80vh;
}

.data_table thead {
  position: sticky;
  top: -1px;
  background-color: #2d3c53;
}
.data_table thead tr th {
  color: #fff;
  font-weight: 400;
}
.data_table th,
.data_table td {
  text-align: center;
}

#mynetwork {
  /* width: 600px; */
  background: #3d3d3d;
  height: 400px;
  border: 1px solid lightgray;
  margin: 10px 8px 0 8px;
}

.center-div {
  position: absolute;
  top: 61%;
  left: 58%;
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.header-btn button {
  float: left;
}

.data_table::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

.data_table::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

.data_table::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}
